.A{
    border: 2px solid;
    height: 400px;
    width: 400px;
    background: linear-gradient(red,green,blue,orange,purple,black);
    margin: 0 auto;
    transform:rotateX(230deg);
    /* transform: rotate(90deg 90deg); Short hand property for RotateX and RotateY*/
    align-content: center;
}
div{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
   
  /* transform:rotate(47deg); */
    
}
div:hover{
  transform: scale(1.2);
}
#star:hover{
    transform: scale(1.6);
    font-size:500px;
    transform:skew(35deg);
    background: linear-gradient(blue,green,red);
    color:rgb(9, 255, 0);
}
#star{
    font-size:50px;
}